

/* main page styles */
body.body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  margin: 0;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}

#menu ul.level-two a.nomargin { /* Very, very, specific! :-) */
  display: inline;
  margin: 0px;
}

@media print 
{
  .index-controls { display: none;}
    #searchbox { display: none;}
}

#searchbox { float: right;}

div#body-title {
  float: left;
}


div#searchbox 
{
  float: right;
  padding-top: 1em;
}

div#searchbox input#search-text 
{
  width: 10em;
}

#menu ul.level-two li
{
  background-image: none;
  background-color: transparent;
  display: block;
  border: 0;
  border-top: 1px solid #DDD;
  padding: 0.1em;
  margin: 0 3em 0px 1.5em;
  color: #3C4B7B;
  background: none;
  width: 11em !important;
  width /**/: 3.2em;  
  font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
  text-transform: none;
}

#menu ul.level-three form
{
  display: block;
  border: 0;
  padding: 0.1em;
  margin: 0 3em 0 1em;
  padding-left: 1em;
  color: #5E72A5;
  background-image: none;
  width: 10em !important;
  width /**/: 11.4em;  
  font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
  font-size: 95%;
}

#menu ul.level-three li a {
  margin-left: 1em;
}

#menu ul.level-three li {
  margin: 0;
  padding: 0;
}

form {
  margin: 0px;
}

textarea {
  font-family: monospace;
}

.form-small {
  padding: 0px;
  font-size: 75%;
}


td.date, th.date { 
  white-space: nowrap;
}

p.ok-message 
{
  background-color: #22bb22;
  padding: 5px;
  color: white;
  font-weight: bold;
}
p.error-message 
{
  background-color: #bb2222;
  padding: 5px;
  color: white;
  font-weight: bold;
}
p.error-message a[href] 
{
  color: white;
  text-decoration: underline;
}


/* style for search forms */
ul.search-checkboxes {
    display: inline;
    padding: 0;
    list-style: none;
}
ul.search-checkboxes > li {
    display: inline;
    padding-right: .5em;
}


/* style for forms */
table.form {
/*  border: #ddd solid 1px;*/
  padding: 2px;
  border-spacing: 5px;
  border-collapse: collapse;
/* background-color: #e0e0e0; */  
  margin: 5px;
}

table.form th {
  border-left: #ddd solid 1px;
  border-top: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  color: #338;
  text-align: right;
  font-weight: normal;
  white-space: nowrap;
}

table.form th.header {
  font-weight: bold;
  text-align: left;
}

table.form th.required {
  font-weight: bold;
}

table.form td {
  border-right: #ddd solid 1px;
  border-top: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  color: #333;
  empty-cells: show;
  padding: 5px;
  white-space: nowrap;
}

table.form td.optional {
  font-weight: bold;
  font-style: italic;
}

table.form td.html {
  color: #777;
}

/* style for lists */
table.list {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.list th {
  padding: 0 4px 0 4px;
  color: #234764;
  background-color: #e0e0e0;
  border: 1px solid white;
  vertical-align: top;
  empty-cells: show;
}
table.list th a[href]:hover { color: #404070 }
table.list th a[href]:link { color: #404070 }
table.list th a[href] { color: #404070 }
table.list th.group 
{
  background-color: #e0e0e0;
  text-align: center;
}

table.list tr.even td {
  background-color: #f0f0f0;
}

table.list td {
  padding: 0 4px 0 4px;
  border: 1px solid white;
  color: #234764;
/*  background-color: #efefef;*/
  vertical-align: top;
  empty-cells: show;
}

table.list tr.navigation th {
  width: 33%;
  border-style: hidden;
  text-align: center;
}
table.list tr.navigation td {
    border: none
}
table.list tr.navigation th:first-child {
  text-align: left;
}
table.list tr.navigation th:last-child {
  text-align: right;
}


/* style for message displays */
table.messages {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.messages th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.messages th {
  font-weight: bold;
  color: black;
  text-align: left;
  border-bottom: 1px solid #afafaf;
}

table.messages td {
  font-family: monospace;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  color: black;
  empty-cells: show;
  border-right: 1px solid #afafaf;
  vertical-align: top;
  padding: 2px 5px 2px 5px;
  max-width: 50em;
}

table.messages td:first-child {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

table.messages td pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* style for file displays */
table.files {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.files th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.files th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.files td {
  font-family: monospace;
  empty-cells: show;
}

/* style for history displays */
table.history {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.history th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  font-size: 100%;
}

table.history th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
  font-size: 90%;
}

table.history td {
  font-size: 90%;
  vertical-align: top;
  empty-cells: show;
}


/* style for class list */
table.classlist {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.classlist th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.classlist th {
  font-weight: bold;
  text-align: left;
}


/* style for class help display */
table.classhelp {      /* the table-layout: fixed;        */ 
  table-layout: fixed; /* compromises quality for speed   */
  overflow: hidden;
  font-size: .9em;
  padding-bottom: 3em;
}

table.classhelp th {
  font-weight: normal;
  text-align: left;
  color: #444;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  text-transform: uppercase;
  vertical-align: middle;
  line-height:1.5em;
}

table.classhelp td {
  vertical-align: middle;
  padding-right: .2em;
  border-bottom: 1px solid #efefef;
  text-align: left;
  empty-cells: show;
  white-space: nowrap;
  vertical-align: middle;
}

table.classhelp tr:hover {
  background-color: #eee;
}

label.classhelp-label {
  cursor: pointer;
}

#classhelp-controls {
  position: fixed;
  display: block;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em;
  border-top: 2px solid #444;
  background-color: #eee;
}

#classhelp-controls input.apply {
  width: 7em;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;
}

#classhelp-controls input.preview {
   margin-right: 3em;
   margin-left: 1em;
}

/* style for "other" displays */
table.otherinfo {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.otherinfo th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.otherinfo th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
  color: #000000;
  background-color: #ffffc0;
}


#demowarning {
   position: absolute;
   top: 10px;
   left: 260px;
   font-weight: bold;
   font-size: 110%;
   color: red;
}


.open {

}

.pending {

}

.closed {
text-decoration: line-through !important;
}
